.fondo{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    background-color: #541555;
    width: 100%;
    height: 70px;
}

.cabecera{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}

.cabecera__logo{
    width: 100px;
    margin: 20px;
}

.cabecera__hamburguesa{
    width: 20px;
    margin: 20px;
    margin-left: 150px;
}

