.cajalogos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}


.logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logostamaño{
    height: 50px;
    margin: 25px;
}




