.fondocrema{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 2370px;
    margin-top: 180px;
}

.botonmorado{
    border-radius: 6px;
    margin: 3px 0px 3px 0px;
    background-color: #541555;
    color: white;
    width: 354px;
}

.botonblanco{
    border-radius: 6px;
    margin: 3px 0px 3px 0px;
    color: #541555;
    width: 354px;
    border-color: solid #541555;
}

